<div class="breadcrumb-container" >
    <div *ngIf="!pathArr.length">/</div>
    <div class="breadcrumb" *ngIf="pathArr.length">
        <div *ngFor="let part of pathArr">
            <span class="simple">/</span>
            <span class="anchor" (click)="onGetPortion(part)">{{part}}</span>
        </div>
    </div>
</div>
