@import '../../../assets/shared-styles/variables-mixins.less';

:host {
  .breadcrumb {
    .flex;
  }
  .anchor {
    color: @darkBlue;
    cursor: pointer;
    .transition;

    &:hover {
      opacity: .5;
    }
  }
}