@import '../../../assets/shared-styles/variables-mixins.less';

:host {
  .field {
    width: 300px;
    background: @white;
    border-radius:@radius;
    .flex;
    .center-top;
  }
  input {
    width: 100%;
    border: none;
  }

  .input-icon {
    padding: 5px;
  }
}