@import '../../../assets/shared-styles/variables-mixins.less';

:host {
  .base {
    min-height: 100vh;
    height: auto;
    background: url(@bgImg) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .2;
      z-index: -1;
    }

    .actions {
      position: absolute;
      top: 10px;
      left: 3px;
      .flex;
    }

    .finder {
      display: block;
      border-radius: @radius;
      overflow: hidden;
      width: 900px;
      min-height: 80%;
      background: @white;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &::ng-deep {
      .action {
        button {
          width: 14px;
          height: 14px;
          background: @green;
          border-radius: 50%;
          padding: 3px;
          .center-left;

          &:hover {
            i {
              color: @black;
              opacity: .7;
            }
          }
        }

        i {
          font-size: .7rem;
          color: transparent;
          .transition;
        }

        &.close {
          button { background: @red; }
        }

        &.minus {
          button { background: @yellow; }
        }
      }
    }
  }
}