<div class="base">
    <div class="finder">
        <div class="actions">
            <app-button class="action"
                 *ngFor="let btn of finderActions"
                 [btnIcon]="btn.icon"
                 [ngClass]="btn.icon"
                 (clickEv)="btn.action(btn)"
            ></app-button>
        </div>
        <app-file-system></app-file-system>
    </div>
</div>

