@import '../../../assets/shared-styles/variables-mixins.less';

:host{
  .top-bar {
    background: @darkGrey;
    padding: 7px 3px;
    border-bottom: 1px somid @darkGrey;

    .breadcrumb {
      padding: 5px 0;
      .flex;
      .center-left;

      b {
        margin-right: 15px;
      }
    }

    .buttons {
      .flex;
    }
    .navControl, .viewControl {
      margin-right: 15px;
    }
  }

  .headers {
    .flex;
    background: @lighGrey;
    border-bottom: 1px solid @darkGrey;

    .header {
      padding: 3px;
      border-right: 1px solid @darkGrey;
    }
  }

  .block_0 {
    flex: 2;
  }
  .block_1,  .block_2, .block_3{
    flex: 1;
  }

  .menu {
    .body-item {
      .flex;
      .center-top;

      &:nth-child(odd) {
        background: @lighGrey;
      }
    }
  }

  .list {
    .body {
      .flex;
      .flex-wrap;

      .body-item {
        width: 115px;
        padding: 10px;
        margin-right: 10px;
      }
    }
  }

  .action-bar {
    .flex;
  }

  .search {
    .float-right;
  }

  &::ng-deep {
    .row {
      i {
        margin-right: 5px;
        font-size: 2rem;
      }
    }

    .noEvent {
      opacity: .3;
      pointer-events: none;
    }

    .list {
      .directory, .file {
        .col;
      }

      .row {
        i {
          font-size: 3rem;
        }
      }
    }

    .breadcrumb {
      i {
        color: @lighBlue;
        padding-right: 5px;
      }
    }
  }
}
