<div class="top-bar">
  <div class="breadcrumb">
    <app-icon iconClassName="icon-folder"></app-icon>
    <app-breadcrumb
            [path]="currentDirectoryFullPath"
            (getPortion)="onJumpToDir($event)"
    ></app-breadcrumb>
  </div>
  <div class="action-bar">
    <div class="buttons">
      <app-button
              *ngFor="let btn of topBarBtns"
              [ngClass]="btn.customClass"
              [btnName]="btn.text"
              [btnIcon]="btn.icon"
              (clickEv)="btn.action(btn)">
      </app-button>
    </div>
    <div class="search">
      <app-input
              inputIcon="search"
              [value]="searchValue"
              (inputEv)="onSearchChange($event)"
      >
      </app-input>
    </div>
  </div>
</div>

<div class="file-system" *ngIf="fileSystemData" [ngClass]="mode">
  <div class="table">
    <div class="headers" *ngIf="mode === MODE.menu">
      <div class="header row" [ngClass]="'block_'+index" *ngFor="let header of tableHeaders, let index = index">
        {{header}}
      </div>
    </div>
    <div class="body">
      <div class="body-item row" *ngFor="let el of fileSystemData, let index = index">
        <div class="block_0">
          <app-file
            *ngIf="el.type === 'file'"
            [fileName]="el.path.substr(el.path.lastIndexOf('/') + 1)"
          >
          </app-file>

          <app-directory
            *ngIf="el.type === 'folder'"
            [dirName]="el.name"
            (dblClickEv)="onDirectoryDblClick($event, el)"
          >
          </app-directory>
        </div>

        <div class="block_1" *ngIf="mode === MODE.menu">{{el.modificationDate}}</div>
        <div class="block_2" *ngIf="mode === MODE.menu">{{el.size || '--'}}</div>
        <div class="block_3" *ngIf="mode === MODE.menu">{{renderType(el)}}</div>
      </div>
    </div>
  </div>
</div>
