@import '../../../assets/shared-styles/variables-mixins.less';

:host {
  button {
    background: @white;
    border: none;
    border-radius: @radius;
    .flex;
    .center-top;
    cursor: pointer;
    margin-right: 2px;
    .transition;

    span {
      font-size: .8rem;
      padding: 0 3px;
      color: @mainGrey;
    }

    &:hover {
      background: @lighGrey;
    }
  }

  &::ng-deep {
    i {
      font-size: 1.5rem;
      color: @mainGrey;
    }
  }
}
