@import '../../../assets/shared-styles/variables-mixins.less';

:host {
  .directory {
    .flex;
    .center-top;
  }

  .file {
    .flex;
    .center-top;
  }

  .directory-icon {
    color: @lighBlue;
    font-size: 2rem;
  }
}
