// colors
@lighBlue: #7bd3f9;
@darkBlue: #1067de;
@lighGrey: #f4f5f5;
@darkGrey: #d7d7d7;
@mainGrey: #6b6565;
@white: #fff;
@black: #212422;
@radius: 2px;
@red: #fc615d;
@yellow: #fdbc40;
@green: #34c84a;
@bgImg: '/assets/img/bg.jpg';

// flex
.flex { display: flex; }
.center-top { align-items: center; }
.center-left { justify-content: center; }
.col { flex-direction: column; }
.float-right { margin-right: 0; margin-left: auto;}
.space-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; }

// transition
.transition { transition: all .3s ease-in-out; }

// text
.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
